/*
Project Name: LFF
Client: Your Client
Author: Julia Robinson
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

body *{
  /*border: 1px solid red;*/
}


html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}



/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: sans-serif;
  color:#ffffff;
  font-size: 1.4rem;
  line-height: 1.9rem;
}

.description {
  display: none;
}

h1{
  display:block;
  font-size: 72px;
  color:#fff;
  letter-spacing: 1rem;
  text-align: center;
  float:right;
  width:95%;

}

h2{
  position: absolute;
  bottom:10;
  left:10;
  z-index: 20;
  font-weight: bold;
  color:#ffffff;
}

select{
    display: block;
    position: relative;
    width: 180px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #F2F2F2;
    color: #6C6C6C;
    border: none;
    outline: none;
    font-size: 12px;
    padding: 5px 10px;
    margin-bottom: 6px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    cursor: pointer;
    height: 26px;
    overflow: hidden;
    background: url(../images/triangle.png) no-repeat 95% 50% #ddd;
    
}


nav{
  padding-left:30px;
  position:fixed;
  z-index:50;
  top:42%;
  text-align:center;
}

.navlink{
  background: url(../images/filmreel.png)no-repeat top left;
  opacity: 0.6;
  display: block;
  padding: 18px 0 25px 55px;
  cursor: pointer; 
  cursor: hand;
  width:50px;
  overflow: hidden;

}
.navlink:hover{
  opacity: 0.9;
  overflow:visible;
}

a{
  text-decoration: none;
}

a:link { color: #898989;}
a:visited { color: #898989;}
a:hover { color: #898989;}
a:active { color: #898989;}

img{
  max-width: 100%
}


/******************************************
/* LAYOUT
/*******************************************/
.title_page{
  
  margin:0 auto;
  /*padding-top:295px;*/
  position:absolute;
  top:50%;
  text-align:center;
  width:100%;
  color:#fff;
  
  -ms-transform: translate(0,-50%); /* IE 9 */
  -webkit-transform: translate(0,-50%); /* Safari */
  transform: translate(0,-50%);  

}

.listings_container{
  width:95%;
  margin:100px auto 50px auto;
}

.film_listings{
  margin-left:20%;
  max-width: 1100px;
  min-width: 800px;
}


.film{
  display: block;
  width:30%;
  min-width: 150px;
  float:left;
  margin: 0 25px 25px 0;
  position: relative;
  overflow: hidden;
}


.film_listings img{
  width:100%;
  z-index: -1;  
  
}

.selectors{
  float:left;
  height:100%;
  min-width: 150px;
  margin-right:20px;
  
}

.cinemas{
  margin:0 auto;
  width:650px;
  /*verticle align cinema location section*/
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  /*verticle centre*/
}


.locations{
  width:100%;
  height:100%;
  float:left;
  /*margin-top:50px;*/

}
.cinema{
  float:left;
  height:250px;
   
}
.cinema:nth-child(even) {
  margin-left: 20px;
}

.main{
  position:relative;
  z-index:5;
  margin-left:-100px;
}


.locationtext{
  color:#ffffff;
  position: relative;
  top:-138;
  left:25;
  z-index: 20;
}
.filmdetails{
  margin: 40px 40px 0 40px;
}





/******************************************
/* ADDITIONAL STYLES
/*******************************************/

header{
  /*background: url(../images/black-mass-01.jpg) no-repeat center top;*/
  background-size: cover;
  height:100%;
  padding:0;
  margin:0;

}

def{
  display:none;
}

.filmoverlay{
  position: absolute;
  bottom:-10;
  left:-1;
  fill:#00E3E3;
  z-index: 10;
  /*opacity: 0.8;*/
  width:102%;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;

  }


.filmoverlay:hover{
    bottom:0;
    
  }
.cinemaoverlay{
  position:relative;
  z-index: 10;
  width:200px;
  height:200px;
  fill:#00FFCC;
  transition: all 0.2s ease;
}
.cinemaoverlay:hover{
  fill:#99FFEB;
}


.film_wrapper{
  height:0;
}

.indv{
  max-width:830px;
  color:#000000;
  margin-top:20px;
}
.filmtimes li{
  display: inline-block;
}

.filmtitle_indv{
  color:000000;
  font-size: 1.9rem;
  display:block;
  position: static;
  margin-bottom: 20px;
}







/******************************************
/* MEDIA QUERIES
/*******************************************/

@media screen and (max-width: 500px){
 
html *{
}
.description{
padding-bottom: 5px;
}
.title_page{
   margin:0 auto;
  /*padding-top:295px;*/
  text-align:center;

  }


header{
    background-size: cover;
    height:100%;
    padding:0;
    margin:0; 
  }

nav{
  display:none;
  }

.selectors{
  width:100%;
  float:none;
  height:auto;
  margin-right:0;

  }

select{
  width: 100%;
  height: 36px;
  margin:10px auto;
 
}

.listings_container{
  margin:0 auto;
}

.film_listings{
  margin:0;
  min-width:100%;
  
}

.film{
  float:none;
  width:100%;
    
  }

.film_listings img{
  max-width:100%;  
  }

.film_wrapper{
  height:auto;
  background-color:#00E3E3;
 /* z-index: -10;*/
  margin-bottom: 20px;
}

.film_wrapper p{
  color:#ffffff;
 /* z-index: 60;*/
  padding:0 20px 10px 10px;
}

.filmlocation{
  font-weight: bold;
}

.filmtimes{
  margin: 0 0 10px 10px;
}
.filmtimes.indv{
  margin:10px 0;
}


.locations{
  float:none;
  margin-top:0;

}
.cinemas{
 
  margin:0 auto;
 
  /*verticle align cinema location section*/
  position: static;
  margin-top: 50px;
  transform: none;
  
  /*verticle centre*/

  width:95%;
}
.cinema{
  float:none;
  margin:0 auto;
  width:310px;
}

.locationtext{
  width:250px;
}

.cinema:nth-child(even) {
  margin:0 auto;
}


}














