/*
Project Name: LFF
Client: Your Client
Author: Julia Robinson
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

body *{
  
}


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}



/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: sans-serif;
  color:#ffffff;
  
}

h1{
  display:block;
  font-size: 72px;
  color:#fff;
  letter-spacing: 0.1em;
  text-align: center;
  float:right;
  width:95%;

}

select{
    display: block;
    position: relative;
    width: 180px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #F2F2F2;
    color: #6C6C6C;
    border: none;
    outline: none;
    font-size: 12px;
    padding: 5px 10px;
    margin-bottom: 6px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    cursor: pointer;
    height: 26px;
    overflow: hidden;
    background: url(../images/triangle.png) no-repeat 95% 50% #ddd;
    
}


nav{
  width:5%;
  margin-top:8px;
  padding-left:40px;
}

ul{
  list-style-type: circle;
}

li{

  display: list-item;
  padding-bottom: 20px;

}






/******************************************
/* LAYOUT
/*******************************************/
.title_page{
  width:85%;
  margin:0 auto;
  /*padding-top:295px;*/
  position:absolute;
  top:50%;
  text-align:center;
  width:100%;
  color:#fff;
  
  -ms-transform: translate(0,-50%); /* IE 9 */
  -webkit-transform: translate(0,-50%); /* Safari */
  transform: translate(0,-50%);  

}

.listings_container{
  width:95%;
  margin:100px auto;
}

.film_listings{
  margin-left:20%;
  max-width: 1100px;
}


.film{
  display: block;
  width:30%;
  min-width: 150px;
  height:200px;
  overflow:hidden;
  float:left;
  margin: 0 25px 25px 0;
  position: relative;

}


.film_text{
  position: absolute;
  bottom:10;
  left:10;
  z-index: 20;


}


.film_listings img{
  height:100%;
  z-index: -1;  
  
}

.poly{
  position: absolute;
  bottom:0;
  left:-1;
  z-index: 10;
  fill:#F2F2F2;/*7FFFD4*/
  width:101%;
  opacity: 0.8;
}


.selectors{
  float:left;
  height:100%;
  min-width: 150px;
  margin-right:20px;
  
}

.cinemas{
  width:752px;
  margin:0 auto;
  
}
.locations *{
  border:1px solid red;
}

.locations{
  width:100%;
  float:left;
  margin-top:50px;

}
.cinema{
  float:left;
  width:375px;
  height:250px;
  
}
.cinema img{
  z-index: 5;
  float:right;
}
.locationtext{
  color:black;
  position: relative;
  z-index: 20;
}
circle{
  position: absolute;
  bottom:0;
  left:-1;
  z-index: 10;
  fill:#7FFFD4;
 
  opacity: 0.8;
  }




/******************************************
/* ADDITIONAL STYLES
/*******************************************/

header{
  background: url(../images/black-mass-01.jpg) no-repeat center top;
  background-size: cover;
  height:100%;
  padding:0;
  margin:0;

}




